#header{
    background: #1A283A;
    color:white;
    position: relative;
    width: 100%;
    height: 55px;
}

#content_table{
position: absolute;
    width: 100%;
    height: 100%;
}

.collu{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

body{
    margin:0px;
}

.area{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d3d3d370;
}
.t_box{
    background: white;
    width: 100%;
    position: relative;
}
.question{
    min-height: 150px;
}

.hidden{
    display: none;
}

.user-actions{
    text-align: right;
}

.comment{
    background: #d3d3d34f;
}
.t_user{
    padding: 3px;
}

.selected{
    color: blue;
}

.usr-info{
    position: relative;
    padding-left: 20px;
}

.profile-image-card{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.profile-image{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-image-div{
    background: blue;
    position:relative;
    width: 100%;
    height: 25%;
}

.topnav {
    overflow: hidden;
    background-color: #f1f1f1;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid red;
}

.topnav a.active {
    border-bottom: 3px solid red;
}

.follow-card {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    color: #343a40!important;
    background-color :#f8f9fa!important;
    width: 280px;
    height: 50px;
    display: inline-block;
    margin: 10px;
}
#follow-section{
    background: white;
    position: absolute;
    width: 100%;
    height: 60%;
    padding: 20px;
}
.follow-profile-photo{
    padding: 4px;
}
.follow-usr-info{
    left: 20px;
    top: 12px;
}

.input-group{
    padding: 20px;
    padding-bottom: 0px;
}

.custom-file-upload{
    height: 25px;
    position: absolute !important;
    border-radius: 100%;
    padding: 4px;
    top: 100px !important;
    left: 100px;
}

#post_content, .post_content{
    width: 100%;
}


